@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "tartufoo-bold";
  src: url("../public/fonts/tartuffo/Tartuffo_Trial-Bold-BF643371dae156a.otf");
}

@font-face {
  font-family: "roberto-light";
  src: url("../public/fonts/rooberto/RoobertPRO-Light.woff");
}

@font-face {
  font-family: "roberto-medium";
  src: url("../public/fonts/rooberto/RoobertPRO-Medium.woff");
}

@font-face {
  font-family: "roberto-bold";
  src: url("../public/fonts/rooberto/RoobertPRO-Bold.woff");
}

h1{
  @apply text-4xl;
  font-family: "tartufoo-bold";
}

h2{
  @apply text-[28px];
  font-family: "roberto-bold";
}

p{
  font-family: "roberto-bold";
}

span{
  font-family: "roberto-medium";
}

h3{
  font-family: "roberto-medium";
  color : #454c4e
}

h4{
  font-family: "roberto-light";
  color : black
}

input.ant-input.css-dev-only-do-not-override-ccdg5a::placeholder{
  color: #454c4e;
  font-family: "roberto-medium";
}

span.ant-input-affix-wrapper.css-dev-only-do-not-override-ccdg5a.ant-input-outlined.py-3.flex.gap-3{
  border: 1px solid lightgray;
  border-radius: 8px;
}

.ant-card-body{
  padding: 13px !important;
}

:where(.css-dev-only-do-not-override-ccdg5a).ant-card-bordered {
  border: 2px solid rgb(239, 238, 238);
}

.full-width-class{
  left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
	width: 100vw;
}

.hair-salon-bg-banner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url("../public/images/salons/hairSalon/hair-salon-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.eye-brows-and-lashes-bg-banner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url("../public/images/salons/eyesBrowAndLashes/eye-brows-and-lashes-banner.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.barber-shop-bg-banner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url("../public/images/salons/barberSalon/barber-shop-banner.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

